* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  font-size: 7vw;
  border: 0.5vw solid #fff;
  padding: 3vw;
  cursor: pointer;
}

#intro {
  text-align: center;
  padding: 4vw;
}

#intro h1 {
  font-size: 15vw;
  font-weight: normal;
}

#intro h2 {
  font-weight: normal;
  font-size: 5vw;
  line-height: 1.7;
  padding: 4vw;
}

#video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
}


 #setting-view .setting-icon {
  position: fixed;
  z-index: 2;
  right: 5vmin;
  cursor: pointer;
}

#setting-view .setting-icon:hover svg{
  opacity: 0.6;
  animation: rotate 0.3s ease-out;
}

#setting-view .setting-icon {
  font-size: 7.5vmin;
  top: 5vmin;
}



#main-view,#setting-view {
  text-align: center;
  position: absolute;
  top: 7vh;
  bottom: 45vmin;
  left: 0;
  right: 0;
  width: 100vw;
  height: 60vh;
  transition: opacity 0.2s ease-out;
}

#main-view.faded {
  pointer-events: none;
  opacity: 0;
}


#main-view.spell-view div:first-child {
  border-bottom: none;
}

#main-view.spell-view div:first-child h2 {
  font-size: 45vw;
  top: 40vh;
}

@media (min-width: 800px) {

  .x {
    font-size: 110px;
  }

  .setting-icon {
    font-size: 60px;
  }


}

#first-time {
  position: fixed;
  width: 100%;
  font-size: 2vh;
  font-weight: normal;
  position: fixed;
  top: 45%;
  width: 100%;
  font-size: 4.5vmin;
  font-weight: normal;
  transform: translateY(-50%);
}



@media (max-height: 450px) {
  #main-view {
    top: 0 !important;
  }

}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

@-moz-keyframes flash {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes flash {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@-o-keyframes flash {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes flash {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@-moz-keyframes rotator {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(270deg);
  }
}

@-webkit-keyframes rotator {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(270deg);
  }
}

@-o-keyframes rotator {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(270deg);
  }
}

@-moz-keyframes rotate {
  0% {
    transform:  rotate(0deg);
  }

  100% {
    transform:  rotate(270deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform:  rotate(0deg);
  }

  100% {
    transform:  rotate(270deg);
  }
}

@-o-keyframes rotate {
  0% {
    transform:  rotate(0deg);
  }

  100% {
    transform:  rotate(270deg);
  }
}

@keyframes rotate {
  0% {
    transform:  rotate(0deg);
  }

  100% {
    transform:  rotate(270deg);
  }
}

@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@-o-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
